    {% extends "base.html" %}
    {% block title %}Add Question{% endblock %}
    {% block header %}Add Question{% endblock %}
    {% block content %}
        <form action="/add_question" method="POST" class="mt-10">
            <div class="mb-4">
                <label for="question" class="block text-sm font-medium text-gray-100">Question</label>
                <textarea id="question" name="question" class="mt-1 block w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-100 focus:outline-none focus:border-blue-500" rows="3" required></textarea>
            </div>
            <div class="mb-4">
                <label for="answer" class="block text-sm font-medium text-gray-100">Answer</label>
                <textarea id="answer" name="answer" class="mt-1 block w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-100 focus:outline-none focus:border-blue-500" rows="5" required></textarea>
            </div>
            <div class="mb-4">
                <label for="type" class="block text-sm font-medium text-gray-100">Type</label>
                <input type="text" id="type" name="type" class="mt-1 block w-full p-2 bg-gray-800 border border-gray-700 rounded-md text-gray-100 focus:outline-none focus:border-blue-500" required>
            </div>
            <div class="text-center">
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Question</button>
            </div>
        </form>
    {% endblock %}